@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #555555;
}

.addNewPhone {
  font-size: 28px;
  background-color: mediumseagreen;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 20px;
  margin-left: 150px;
  margin-top: -20px;
  transition: all 0.3s ease;
}

.addNewPhone:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.addNewPhone:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.phonesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 500px;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}

.phonesData {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 15px 20px;
  border-radius: 10px;
  width: 90%;
  background-color: #555;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phonesData:last-child {
  margin-bottom: 0;
}

.phonesData p {
  margin: 0;
}

.phonesData .contact-info {
  flex-grow: 1;
}

.phonesData .icons {
  display: flex;
  align-items: center;
}

.phonesData button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.phonesData button svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: fill 0.3s ease;
}

.phonesData button:hover svg {
  fill: mediumseagreen;
}

.modal-content {
  position: fixed;
  color: #333;
  background-color: white;
  border-radius: 10px;
  padding: 2em;
  max-width: 300px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content h5 {
  font-size: 1.1em;
  margin-top: 2.3em;
  margin-bottom: 0.5em;
}

.modal-content input[type="text"] {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 0.5em;
}

.modal-content button[type="button"],
.modal-content button[type="submit"] {
  padding: 0.8em 1.5em;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

.modal-content button[type="submit"] {
  background-color: mediumseagreen;
  color: white;
}

.modal-content button[type="button"] {
  background-color: #333;
  color: white;
}

.modal-content button[type="submit"]:hover,
.modal-content button[type="button"]:hover {
  transform: translateY(-0.3em);
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

.modal button.btn-close {
  margin-left: 0.5em;
}

.modal .btn-close,
.modal .btn-save {
  margin: 0.5em;
}

.btn-x {
  font-size: 0.7em;
  font-weight: 700;
  margin-left: 18em;
  margin-top: -0.5em;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
